@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    /*                box-sizing: border-box;*/
    box-sizing: border-box;
    transition: 0.1s linear;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333A4C;
    background-color: #F9F9F9;
}

h2 {
    font-weight: 400;
    text-align: center;
    font-size: 1.5em;
}

h3 {
    width: 100%;
}

.header {
    background-color: #EAEAEA;
    width: 100vw;
    height: 80vh;
    padding: 10% 0 0 5%;
}

.title {
    font-size: 10em;
}

.printers-title {
    text-align: center;
    font-weight: 400;
}

.printers {
    width: 90%;
    margin: 0 auto;
    padding: 10% 0;
    text-align: center;
}

.printer-container {
    width: 22%;
    margin: 2% 1%;
    display: inline-block;
    padding: 1%;
    background-color: #fff;
}

.printer-container:hover {
    border: #333A4C solid 3px;
    cursor: pointer;
    /*            background-color: #cbd7f7;*/
}

.printer-container:active {
    background-color: #e7edfa;
}

.occupied-text {
    width: 100%;
    float: left;
    padding: 0 0 10% 0;
    font-size: 0.75em;
}

.availability-text {
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    margin: 20px auto;
}

#current-time {
    margin: 20px 0;
    font-size: 1.5em;
}

.unavailable,
.unavailable:hover,
.unavailable:active {
    border: #ccc 2px solid;
    background-color: #f9f9f9;
    cursor: not-allowed;
    opacity: 0.5;
    color: #000;
}

.printers-svg,
.printers-svg:hover {
    border: 0;
}

#reminder {
    background-color: #e7edfa;
    width: 100%;
    padding: 20px 10px;
/*    border-left: 3px #333A4C solid;*/
    margin: 50px auto;
    font-size: 1.25em;
    font-weight: 700;
    width: 95%;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 5em;
    }

    .header {
        height: 50vh;
    }

    .printer-container {
        width: 75%;
        margin: 2% auto;
        display: inline-block;
        padding: 1%;
        background-color: #fff;
    }
}

@media only screen and (min-width: 600px) {
     .title {
        font-size: 8em;
    }
    
    .printer-container {
        width: 46%;
        margin: 2% 1%;
        display: inline-block;
        padding: 1%;
        background-color: #fff;
    }
}

@media only screen and (min-width: 992px) {
     .title {
        font-size: 10em;
    }
    
    .printer-container {
        width: 22%;
        margin: 2% 1%;
        display: inline-block;
        padding: 1%;
        background-color: #fff;
    }
}
